@model term.Models.Product
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "UploadInventory";
}
<link href="~/Content/style.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jqueryval")


<div class="upload">
    @*<form id="data" method="post" action="~/Owner/UploadInventorySave" enctype="multipart/form-data">
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="Price" name="price">
        <input type="text" placeholder="Detail" name="detail">
        <input type="text" placeholder="Category" name="category">
        <input type="text" placeholder="Sub Category" name="subcategory"><br>
        Upload Image:
        <input type="file" name="image" />
        <input type="submit" value="upload" />
    </form>*@

    @using (Html.BeginForm("UploadInventorySave", "Owner", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
    {   @Html.ValidationSummary(true)
        <fieldset>
         <div class="editor-field">
            @Html.EditorFor(model => Model.name)
            @Html.ValidationMessageFor(model => Model.name)
        </div>
            <div class="editor-field">
        <input type="text" placeholder="Name" name="name">
                @Html.ValidationMessageFor(model => Model.category)
                </div>
        <input type="text" placeholder="Price" name="price">
        <input type="text" placeholder="Detail" name="detail">
            @Html.ValidationMessageFor(model => Model.category)
        <input type="text" placeholder="Category" name="category">
        <input type="text" placeholder="Sub Category" name="subcategory"><br>
        <label for="file">Upload Image:</label>
        <input type="file" name="file"  id="file" style="width: 100%;" /> 
        <input type="submit" value="Upload" class="submit" /> 
        </fieldset>
    }



</div>
